@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Yellowtail&display=swap");
body {
  background-color: white;
  font-family: "Roboto", sans-serif;
  color: #274C5B;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 38px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 199px;
  gap: 8.3px;
  justify-content: space-around;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 69px 140px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  font-size: 18px;
  font-weight: bold;
}

li {
  cursor: pointer;
  transition: 0.4s;
}

li:hover {
  color: #7BB564;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #274C5B;
}

.buttons {
  display: flex;
  gap: 20px;
  align-items: center;
}

.searchInput {
  display: flex;
  align-items: center;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  padding: 5px;
}

.searchInput input {
  border: none;
  outline: none;
  padding: 5px 15px;
  border-radius: 50px;
}

.searchBtn {
  border: none;
  background-color: #7EB693;
  cursor: pointer;
  padding: 10px 11px;
  border-radius: 50px;
  transition: 0.3s;
}

.searchBtn img {
  width: 15px;
  height: 15px;
}

.searchBtn:hover {
  background-color: #274C5B;
  transition: 0.3s;
}

.cart {
  border: 1px solid #E0E0E0;
  cursor: pointer;
  border-radius: 33px;
  padding: 5px 25px 5px 10px;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.cartBtn {
  background-color: #274C5B;
  padding: 6px 8px;
  border-radius: 50px;
  transition: 0.3s;
}

.cartBtn img {
  width: 20px;
  height: 20px;
}

.cartBtn:hover {
  background-color: #7EB693;
  transition: 0.3s;
}

.cart p {
  margin-left: 8px;
  font-weight: 500;
  font-size: 16px;
}

.header-banner {
  width: 100%;
  height: auto;
  background-color: #F5F5F5;
  background-image: url("./img/bakground-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 150px;
}

.bannerTitle {
  width: 530px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.bannerTitle h3 {
  font-size: 24px;
  font-weight: regular;
  color: #7EB693;
  font-family: "Yellowtail";
  margin: 0;
}

.bannerTitle h1 {
  font-size: 70px;
  font-weight: extra-bold;
  line-height: 90px;
}

.bannerTitle button {
  background-color: #EFD372;
  border: none;
  margin-top: 40px;
  padding: 25px 50px;
  border-radius: 10px;
  color: #274C5B;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.discounts_block {
  display: flex;
  justify-content: space-around;
  width: auto;
  margin: 100px auto 0 auto;
}
.discounts_block p {
  font-family: "Yellowtail";
  font-size: 36px;
  font-weight: 400;
}
.discounts_block h2 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-weight: 900;
}
.discounts_block .block1 {
  background-image: url("./img/Image1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 54px;
  color: white;
}
.discounts_block .block2 {
  background-image: url("./img/Image.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 54px;
}
.discounts_block .block2 p {
  color: #7EB693;
}

.aboutUs_block {
  background-image: url("./img/aboutUs-back.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 100px;
}
.aboutUs_block .title {
  width: 40%;
  margin-right: 100px;
}
.aboutUs_block .title h3 {
  font-family: "Yellowtail";
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #7EB693;
}
.aboutUs_block .title h1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  font-weight: 900;
}
.aboutUs_block .title p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 165.4%;
  margin: 20px 0;
}
.aboutUs_block .title .title_blocks .block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 50px 0;
}
.aboutUs_block .title .title_blocks .block .img {
  padding: 15px;
  border-radius: 20px;
  background-color: white;
}
.aboutUs_block .title .title_blocks .block .text {
  display: flex;
  flex-direction: column;
}
.aboutUs_block .title .title_blocks .block .text h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
}
.aboutUs_block .title .title_blocks .block .text p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  width: 70%;
  color: #525C60;
  margin: 0;
  line-height: 165.4%;
}
.aboutUs_block .title button {
  background-color: #274C5B;
  border: none;
  margin-top: 40px;
  padding: 25px 50px;
  border-radius: 16px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}/*# sourceMappingURL=App.css.map */